.image-1-icon1,
.screenshot-2024-03-24-193215-11 {
  position: absolute;
  top: 602px;
  left: 103px;
  width: 1195px;
  height: 164px;
  object-fit: cover;
}
.screenshot-2024-03-24-193215-11 {
  top: 789px;
  left: 36px;
  width: 312px;
  height: 386px;
}
.o-thun-nam2,
.o-thun-nam3 {
  position: absolute;
  top: 1193px;
  left: 48px;
  display: inline-block;
  width: 224px;
  height: 18px;
}
.o-thun-nam3 {
  top: 1191px;
  left: 390px;
  width: 267px;
  height: 19px;
}
.mountain1,
.o-singlet-chy1 {
  margin: 0;
}
.o-singlet-chy-container1 {
  position: absolute;
  top: 1193px;
  left: 733px;
  display: inline-block;
  width: 300px;
  height: 37px;
}
.edp-50ml1,
.nc-hoa-nam1 {
  margin: 0;
}
.nc-hoa-nam-container1 {
  position: absolute;
  top: 1191px;
  left: 1092px;
  display: inline-block;
  width: 275px;
  height: 36px;
}
.span13 {
  font-weight: 900;
  white-space: pre-wrap;
}
.span14 {
  font-size: var(--font-size-mini);
  font-weight: 100;
}
.div9 {
  position: absolute;
  top: 1233px;
  left: 390px;
  display: inline-block;
  width: 200px;
  height: 27px;
  font-size: var(--font-size-xl);
}
.span15 {
  font-weight: 900;
  white-space: pre-wrap;
}
.span16 {
  font-size: var(--font-size-mini);
  font-weight: 100;
}
.div10 {
  position: absolute;
  top: 1231px;
  left: 48px;
  display: inline-block;
  width: 200px;
  height: 27px;
  font-size: var(--font-size-xl);
}
.span17 {
  font-weight: 900;
  white-space: pre-wrap;
}
.span18 {
  font-size: var(--font-size-base);
  font-weight: 100;
}
.div11 {
  position: absolute;
  top: 1234px;
  left: 733px;
  display: inline-block;
  width: 192px;
  height: 26px;
}
.div11,
.span20 {
  font-size: var(--font-size-xl);
}
.span20,
.span21 {
  white-space: pre-wrap;
}
.span19 {
  font-weight: 900;
}
.span23 {
  font-weight: 100;
}
.span22 {
  white-space: pre-wrap;
}
.div12 {
  position: absolute;
  top: 1233px;
  left: 1092px;
  display: inline-block;
  width: 201px;
  height: 26px;
}
.tt-c-child,
.tt-c-child1,
.tt-c-inner,
.tt-c-item {
  position: absolute;
  top: 1249.5px;
  left: 177.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 66px;
  height: 1px;
}
.tt-c-child1,
.tt-c-inner,
.tt-c-item {
  top: 1246.5px;
  left: 519.5px;
  width: 71px;
}
.tt-c-child1,
.tt-c-inner {
  left: 1216.5px;
  width: 66px;
}
.tt-c-child1 {
  left: 858.5px;
  width: 67px;
}
.tt-c-child2,
.tt-c-child3,
.tt-c-child4,
.tt-c-child5 {
  position: absolute;
  top: 1231px;
  left: 250px;
  border-radius: var(--br-3xl);
  background-color: var(--color-gainsboro-100);
  width: 83px;
  height: 32px;
}
.tt-c-child3,
.tt-c-child4,
.tt-c-child5 {
  top: 1230px;
  left: 607px;
  width: 84px;
  height: 33px;
}
.tt-c-child4,
.tt-c-child5 {
  top: 1231px;
  left: 948px;
  height: 32px;
}
.tt-c-child5 {
  top: 1233px;
  left: 1296px;
  width: 83px;
  height: 30px;
}
.tt-c-child6,
.tt-c-child7,
.tt-c-child8,
.tt-c-child9 {
  position: absolute;
  top: 1231px;
  left: 250px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  width: 98px;
  height: 32px;
}
.tt-c-child7,
.tt-c-child8,
.tt-c-child9 {
  top: 1230px;
  left: 607px;
  width: 99px;
  height: 33px;
}
.tt-c-child8,
.tt-c-child9 {
  top: 1231px;
  left: 948px;
  width: 96px;
  height: 32px;
}
.tt-c-child9 {
  top: 1233px;
  left: 1296px;
  height: 30px;
}
.mua-ngay4,
.mua-ngay5,
.mua-ngay6,
.mua-ngay7 {
  position: absolute;
  top: 1239px;
  left: 270px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  width: 58px;
  height: 15px;
}
.mua-ngay5,
.mua-ngay6,
.mua-ngay7 {
  top: 1238px;
  left: 626px;
  width: 59px;
  height: 16px;
}
.mua-ngay6,
.mua-ngay7 {
  top: 1239px;
  left: 966px;
  height: 15px;
}
.mua-ngay7 {
  top: 1395px;
  left: 1304px;
  width: 57px;
}
.screenshot-2024-03-24-194518-11,
.screenshot-2024-03-24-194518-21 {
  position: absolute;
  top: 1267px;
  left: 30px;
  width: 336px;
  height: 43px;
  object-fit: cover;
}
.screenshot-2024-03-24-194518-21 {
  left: 378px;
  width: 333px;
}
.screenshot-2024-03-24-194518-31,
.screenshot-2024-03-24-194518-41 {
  position: absolute;
  top: 1267px;
  left: 722px;
  width: 336px;
  height: 43px;
  object-fit: cover;
}
.screenshot-2024-03-24-194518-41 {
  left: 1068px;
}
.tt-c-child10 {
  position: absolute;
  top: 1410px;
  left: -3px;
  background: linear-gradient(
    -89.63deg,
    #015189,
    #028def 49%,
    rgba(1, 81, 137, 0.97)
  );
  width: 1446px;
  height: 689px;
}
.tt-c-child11,
.tt-c-child12,
.tt-c-child13,
.tt-c-child14,
.tt-c-child15 {
  position: absolute;
  top: 1567px;
  left: 66px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 227px;
  height: 423px;
}
.tt-c-child12,
.tt-c-child13,
.tt-c-child14,
.tt-c-child15 {
  left: 335px;
  border-radius: var(--br-2xl);
  width: 228px;
}
.tt-c-child13,
.tt-c-child14,
.tt-c-child15 {
  left: 604px;
  border-radius: var(--br-4xl);
  width: 230px;
}
.tt-c-child14,
.tt-c-child15 {
  left: 874px;
  width: 227px;
}
.tt-c-child15 {
  left: 1145px;
}
.screenshot-2024-03-24-224454-11,
.screenshot-2024-03-24-224718-11 {
  position: absolute;
  top: 1567px;
  left: 67px;
  border-radius: var(--br-21xl);
  width: 226px;
  height: 351px;
  object-fit: cover;
}
.screenshot-2024-03-24-224718-11 {
  left: 335px;
  border-radius: var(--br-4xl);
  width: 228px;
}
.tt-c-child16 {
  position: absolute;
  top: 1765px;
  left: 1337px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 45px;
  height: 45px;
}
.screenshot-2024-03-24-224745-11,
.screenshot-2024-03-24-224840-11 {
  position: absolute;
  top: 1562px;
  left: 1145px;
  border-radius: var(--br-9xl);
  width: 227px;
  height: 343px;
  object-fit: cover;
}
.screenshot-2024-03-24-224840-11 {
  top: 1567px;
  left: 874px;
  height: 351px;
}
.div13,
.div14,
.div15 {
  position: absolute;
  top: 1957px;
  left: 619px;
  font-size: var(--font-size-xs);
  font-weight: 900;
  display: inline-block;
  width: 65px;
  height: 14px;
}
.div14,
.div15 {
  top: 1958px;
  left: 347px;
  width: 63px;
}
.div15 {
  top: 1954px;
  left: 88px;
  width: 64px;
}
.screenshot-2024-03-24-224807-11 {
  position: absolute;
  top: 1562px;
  left: 604px;
  border-radius: var(--br-5xl);
  width: 230px;
  height: 353px;
  object-fit: cover;
}
.mua-1-tng1 {
  position: absolute;
  top: 1459px;
  left: 67px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  color: var(--color-white);
  width: 311px;
  height: 56px;
}
.tt-c-child17 {
  position: absolute;
  top: 1456px;
  left: 1102px;
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  width: 270px;
  height: 63px;
}
.giao-hng-qu1 {
  position: absolute;
  top: 1474px;
  left: 1132px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 227px;
  height: 28px;
}
.o-khoc-nam1 {
  margin: 0;
}
.siu-nh1 {
  margin: 0;
  color: var(--color-darkslategray-300);
}
.o-khoc-nam-container1 {
  position: absolute;
  top: 1905px;
  left: 1156px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 206px;
  height: 28px;
}
.qun-di-nam1 {
  margin: 0;
}
.regular-straight1 {
  margin: 0;
  color: var(--color-darkslategray-200);
}
.qun-di-nam-container1 {
  position: absolute;
  top: 1914px;
  left: 891px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 157px;
  height: 28px;
}
.o-thun-cotton2,
.vn-art-cp1 {
  margin: 0;
}
.care-share2 {
  margin: 0;
  color: var(--color-dimgray-500);
}
.o-thun-cotton-container2 {
  position: absolute;
  top: 1916px;
  left: 619px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 188px;
  height: 41px;
}
.o-s-mi2 {
  margin: 0;
}
.cotton1 {
  margin: 0;
  color: var(--color-darkslategray-400);
}
.o-s-mi-container1 {
  position: absolute;
  top: 1917px;
  left: 346px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 206px;
  height: 28px;
}
.o-thun-cotton3,
.vn-art-logo1 {
  margin: 0;
}
.care-share3 {
  margin: 0;
  color: var(--color-dimgray-400);
}
.bn-chy-nht1,
.div16,
.div17,
.o-thun-cotton-container3 {
  position: absolute;
  top: 1917px;
  left: 88px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 191px;
  height: 41px;
}
.bn-chy-nht1,
.div16,
.div17 {
  top: 1946px;
  left: 1156px;
  font-size: var(--font-size-xs);
  font-weight: 900;
  width: 63px;
  height: 12px;
}
.bn-chy-nht1,
.div17 {
  top: 1952px;
  left: 891px;
  font-size: var(--font-size-2xs);
  width: 66px;
  height: 17px;
}
.bn-chy-nht1 {
  top: 2193px;
  left: 69px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  width: 407px;
  height: 56px;
}
.screenshot-2024-03-24-233149-11 {
  position: absolute;
  top: 2325px;
  left: 75px;
  width: 241px;
  height: 422px;
  object-fit: cover;
}
.screenshot-2024-03-24-233206-11,
.screenshot-2024-03-24-233225-11 {
  position: absolute;
  top: 2317px;
  left: 332px;
  width: 251px;
  height: 422px;
  object-fit: cover;
}
.screenshot-2024-03-24-233225-11 {
  top: 2312px;
  left: 601px;
  width: 245px;
  height: 423px;
}
.screenshot-2024-03-24-233237-11,
.screenshot-2024-03-24-233821-11 {
  position: absolute;
  top: 2318px;
  left: 871px;
  width: 237px;
  height: 416px;
  object-fit: cover;
}
.screenshot-2024-03-24-233821-11 {
  top: 2321px;
  left: 1148px;
  width: 252px;
  height: 412px;
}
.screenshot-2024-03-24-193325-11,
.screenshot-2024-03-24-193350-11 {
  position: absolute;
  top: 788px;
  left: 378px;
  width: 322px;
  height: 393px;
  object-fit: cover;
}
.screenshot-2024-03-24-193350-11 {
  top: 778px;
  left: 722px;
  width: 327px;
  height: 401px;
}
.screenshot-2024-03-24-193340-11,
.screenshot-2024-03-25-072311-13 {
  position: absolute;
  top: 781px;
  left: 1068px;
  width: 329px;
  height: 400px;
  object-fit: cover;
}
.screenshot-2024-03-25-072311-13 {
  top: 2819px;
  left: 0;
  width: 1440px;
  height: 180px;
}
.screenshot-2024-03-24-192430-11,
.screenshot-2024-03-25-072544-13 {
  position: absolute;
  top: 2999px;
  left: 0;
  width: 1440px;
  height: 388px;
  object-fit: cover;
}
.screenshot-2024-03-24-192430-11 {
  top: 93px;
  width: 1444px;
  height: 493px;
}
.tt-c-child18 {
  position: absolute;
  top: -8px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 107px;
}
.screenshot-2024-03-24-190111-13 {
  position: absolute;
  top: 8px;
  left: 44px;
  width: 89px;
  height: 69px;
  object-fit: cover;
}
.tt-c-child19 {
  position: absolute;
  top: -10px;
  left: 187px;
  background-color: var(--color-chocolate);
  width: 55px;
  height: 108px;
}
.lt3,
.mc-hng-ngy3,
.nc-hoa3,
.sale3,
.sn-phm5,
.sn-xut-ring3,
.th-thao3 {
  position: absolute;
  color: var(--color-white);
  display: inline-block;
  height: 27px;
}
.sale3 {
  top: 37px;
  left: 195px;
  font-size: var(--font-size-mini);
  width: 39px;
}
.lt3,
.mc-hng-ngy3,
.nc-hoa3,
.sn-phm5,
.sn-xut-ring3,
.th-thao3 {
  top: 36px;
}
.sn-phm5 {
  left: 274px;
  width: 82px;
  cursor: pointer;
}
.lt3,
.mc-hng-ngy3,
.nc-hoa3,
.sn-xut-ring3,
.th-thao3 {
  left: 375px;
  width: 58px;
}
.mc-hng-ngy3,
.nc-hoa3,
.sn-xut-ring3,
.th-thao3 {
  top: 37px;
  left: 454px;
  width: 106px;
}
.mc-hng-ngy3,
.nc-hoa3,
.sn-xut-ring3 {
  left: 582px;
  width: 132px;
}
.nc-hoa3,
.sn-xut-ring3 {
  left: 733px;
  width: 86px;
}
.sn-xut-ring3 {
  top: 36px;
  left: 838px;
  width: 128px;
}
.screenshot-2024-03-24-190914-13 {
  position: absolute;
  top: 21px;
  left: 985px;
  width: 89px;
  height: 44px;
  object-fit: cover;
}
.tt-c-child20 {
  position: absolute;
  top: 15px;
  left: 1106px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gainsboro-100);
  width: 153px;
  height: 61px;
}
.tm-kim-sn3 {
  position: absolute;
  top: 39px;
  left: 1141px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 101px;
  height: 30px;
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 1%;
  width: 2.23%;
  top: 0.86%;
  right: 20.76%;
  bottom: 98.14%;
  left: 77.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon9 {
  height: 1.16%;
  width: 2.22%;
  top: 0.66%;
  right: 3.06%;
  bottom: 98.18%;
  left: 94.72%;
  cursor: pointer;
}
.tt-c-child21 {
  position: absolute;
  top: 19px;
  left: 1285px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 53px;
  height: 53px;
}
.vector-icon10 {
  position: absolute;
  height: 1.75%;
  width: 3.89%;
  top: 0.43%;
  right: 6.94%;
  bottom: 97.82%;
  left: 89.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.tt-c1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3387px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
